/* Damian Seals  */
/* Web Project 2 */
.seperator {
    border-top: 1px solid gainsboro;
}
.row {
    padding: 15px;
    margin: 0px 20px;
}
.heading-row {
    background-color: whitesmoke;
    border-radius: 5px 5px 0px 0px;
    margin-top: 15px;
    border: 1px solid gainsboro;
}
.info-row {
    border-radius: 0px 0px 5px 5px;
    border: 1px solid gainsboro;
    border-top: none;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    align-items: center;
    height: 30px;
}
h4 {
    margin-top: 10px;   /* overwrites the h4 css from abet.css */
}
#password-header {
    width: 325px;
}
#password-box {
    border-radius: 0px 0px 5px 5px;
    border: 1px solid gainsboro;
    border-top: none;
    display: flex;
    flex-direction: column;
    width: 325px;
    justify-content:baseline;
    align-items: left;
}
.column {
    flex: 0 1 40%;
    margin-bottom: 5px;
    overflow: hidden;
}
.submit {
    background-color: steelblue;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px 0px;
}
.submit:hover {
    background-color: rgb(55, 104, 145);
    cursor: pointer;
}
input[type="password"] {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.success {
    color: rgb(49, 49, 49);
    font-size: 10px;
    display: inline
}
.invalid {
    color: red;
    font-size: 10px;
    display: inline;
}
.hidden {
	display: none;
}

